extends layout 
block content 
  div.content-section
    div.media
      img.rounded-circle.account-img(src=user.image)
      div.media-body
        h2.account-heading 
          | Bem vindo, #{user.username}
        p.text-secondary 
          | #{user.email}
    form(action="" method="post") 
      fieldset.form-group 
        legend.border-bottom Editar Perfil
        div.form-group.mb-3
          label.form-label(for="username") Nome de Usuário
          input.form-control(type="text" name="user" id="username", value=user.username)
        div.form-group.mb-3
          label.form-label(for="email") E-mail
          input.form-control(type="email" name="email" id="email", value=user.email)
        div.form-group.mb-3
          label.form-label(for="password") Link da image de perfil
          input.form-control(type="text" name="image" id="image", value=user.image)
        div.form-group.text-end
          button.btn.btn-primary.float-right(type="submit") Salvar 