extends layout.pug

mixin show-error(param)
  for error in errors
    if error.param === param
      div(role='alert')
        span.small.text-danger #{error.msg}

block content
  div.content-section
    form(action="" method="POST")
      fieldset.form-group 
        legend.border-bottom #{title}

        // title field
        div.form-group.mb-3.pt-2
          label.form-control-label.mb-2(for="exampleInputEmail1") Título

          input.form-control(
            type="text", 
            name="title", 
            placeholder="Insira um título"
            value=data? data.title : ''
            required
          )

          if (errors) 
            +show-error('title')

        // text area
        div.form-group.mb-3
          label.form-control-label.mb-2(for="exampleFormControlTextarea1") Texto

          textarea.form-control(
            name="content", 
            rows="4", 
            placeholder="Insira um texto"
            value=data? data.content : ''
            required
          )

          if (errors) 
            +show-error('text')

          if (errors) 
            +show-error('password1')
      div.text-end
        button.btn.btn-outline-primary.my-1(type="submit") Salvar