extends layout.pug

block content
  article.media.content-section
    img.rounded-circle.article-img.author-image(src=post.author.image)
    div.media-body.w-100
      div.article-metadata
        a.mr-2(href=`user/${post.author._id}`) #{post.author.username}
        small.text-muted #{post.updatedAt.toLocaleDateString()}

        if (post.author._id.toString() === userId)  
          div
            a.btn.btn-secondary.btn-sm.mt-1.mb-1(href="{{ url_for('update_post', post_id=post.id) }}") Update
            button.btn.btn-danger.btn-sm.m-1(type='button' data-toggle='modal' data-target='#deleteModal') Delete

      h2.article-title #{post.title}
      p.article-content #{post.content}
  // Modal
  div#deleteModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='deleteModalLabel' aria-hidden='true')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          h5#deleteModalLabel.modal-title Delete Post?
          button.btn.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        div.modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Close
          form(action="{{ url_for('delete_post', post_id=post.id) }}" method='POST')
            input.btn.btn-danger(type='submit' value='Delete')
